.grid-container {
  display: grid;
  gap: 0px 0px;
  padding: 0px;
  grid-template-columns: auto auto;
  margin: 0px 0px 0px 0px;
}

html{height:100vh;}

body {
  margin: 0px;
  margin:0; 
  min-height: 100%;
  height: 100%;
}

.main {
  min-height: 100%;
  height: 100%;
}

/* Radio buttons */

.container {
  padding: 0;
  margin: 0px 0px 0px 0px;
  list-style: none;
  /* display: flex; */
  display: inline;
  justify-content: space-between;
}

.longhand {
  flex-flow: wrap row;
}

.item {
  width: 100px;
  color: #c3d0d9;
  border: 1px solid #c3d0d9;
  height: 50px;
  font-size: 1.3em;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  float: left;
  /* display: inline-block; */
}

label {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: block;
}

input:checked + label {
  background: #eee;
}

input {
  display: none;
}

/* input styles */
#prof-name{
  display:block;
  width: 100%;
  height: 100%;
  border: none;
  border: 0;
  background-color: #eee;

}

#uid{
  display:block;
  width: 100%;
  height: 100%;
  border: none;
  border: 0;
  background-color: #eee;

}

 

/* Color Picker */

.container-color {
  padding: 0;
  margin: 0px 0px 10px 0px;
  list-style: none;
  /* display: flex; */
  display: inline;
  justify-content: space-between;
  grid-row: 2/3;
}

.container-color2 {
  padding: 0;
  margin: 0px 0px 10px 0px;
  list-style: none;
  /* display: flex; */
  display: inline;
  justify-content: space-between;
  grid-row: 2/3;
}

.color-item {
  width: 20px;
  color: #c3d0d9;
  /* background: #6200ff; */
  border: 1px solid #c3d0d9;
  height: 20px;
  font-size: 1.3em;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  float: left;
  /* display: inline-block; */
}

.color-item2 {
  width: 20px;
  color: #c3d0d9;
  /* background: #6200ff; */
  border: 1px solid #c3d0d9;
  height: 20px;
  font-size: 1.3em;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  float: left;
  /* display: inline-block; */
}

#color1 {
  background: #000000;
}

#color2 {
  background: #1b9610;
}

#color3 {
  background: #6200ff;
}

#color4 {
  background: #ff0000;
}

#color5 {
  background: #fbff00;
}

#color6 {
  background: #ffae00;
}

/* Text Boxes */

.grid-container {
  clear: both;
  height: auto;
}

.entry-1 {
  grid-column: 1/3; /* takes up 100% of the width, switch to 1/2 to take up half */
  resize: none;
  clear: both;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  height: 200px;
  font-size: 48px;
}

.entry-2 {
  grid-column: 2/3;
  resize: none;
  clear: both;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  height: 200px;
  font-size: 48px;

}

.entry-3 {
  grid-column: 1/3;
  resize: none;
  clear: both;
  display: block;
  height: 200px;
  font-size: 48px;

}

/* Header */

.header-row {
  padding: 0px;
  margin: 0px;
  clear: both;
}

.header-row:after {
  content: "";
  display: table;
  clear: both;
}

.header-column-left {
  float: left;
  width: calc(50% - 10px);
  background-color: orange;
  padding: 0px 0px 0px 10px;
  margin: 0px 0px 10px 0px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-column-right {
  float: right;
  width: calc(50% - 10px);
  text-align: right;
  background-color: orange;
  padding: 0px 10px 0px 0px;
  margin: 0px 0px 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  display: inline;
  border: 0;
  font-size: 32px;
  font-weight: bold;
}

#title:focus{
  outline: none;
}

#time {
  display: block;
}


/* Footer Button */


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  margin-top: -200px;
}

.submit_container
{
  background-color:orange;
  clear: both;
  position: relative;
  height: 40px;
  margin-top: -50px;
  padding: 5px;
  text-align: center;
}

#submit_button
{
  display: inline-block;
  line-height: 30px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  height: 30px;
  font-family: Helvetica;
  font-size: 30px;
  padding: 5px 0px;
  color:#ffffff;
  padding-inline: 5px;
  margin-inline: 5px;
}

#submit_button:hover{
  color: #000000;
  background-color: rgb(255, 255, 255);
}